<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/login.js') }}"></script> <!-- Enlace al archivo JS -->
</head>

<body>
    <div class="login-container">
        <div class="login-card">

            <!-- Logos -->
            <img src="{{ url_for('static', filename='images/MINSAL.png') }}" 
                alt="Logo del Ministerio de Salud" class="logo1" width="10px">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" 
                alt="Logo Hospital" class="logo">

            <h1>Iniciar sesión</h1>

            <!-- Formulario de inicio de sesión -->
            <form method="post" action="{{ url_for('login') }}" autocomplete="off">
                <div class="input-group">
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" id="username" name="usuario" 
                        placeholder="Ingrese su usuario" required aria-label="Nombre de Usuario">
                </div>

                <div class="input-group">
                    <label for="contrasena">Contraseña</label>
                    <div class="password-container">
                        <input type="password" id="contrasena" name="contrasena" 
                            placeholder="Ingrese su contraseña" required aria-label="Contraseña">
                        <button type="button" id="password-toggle" onclick="togglePassword()">Mostrar</button>
                    </div>
                </div>

                <div class="input-group1">
                    <label for="recuerdame">Recuérdame</label>
                    <input class="ruben" type="checkbox" id="recuerdame" name="recuerdame">
                </div>

                <input type="hidden" name="tipo_usuario" value="doctor">
                <input type="submit" value="Iniciar sesión" class="btn-submit">

                <div class="links">
                    <a href="/forgot-password" class="forgot-password">¿Olvidaste tu Contraseña?</a>
                </div>
            </form>

            <!-- Mensajes de error o éxito -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert" role="alert" aria-live="assertive">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}

        </div>
    </div>
</body>

</html>
